<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">

<head>
    <meta charset="UTF-8">
    <title>Information Page</title>
</head>

<body>
    <table>
        <tr>
            <td th:each="col: ${table.columnModel.columns}">
                <span th:text="${col}" />
            </td>
        </tr>
        <tr th:each="row: ${table.rows}">
            <td th:each="cell: ${row.values}">
                <span th:text="${cell.value}" />
            </td>
        </tr>

    </table>
</body>
</html>