<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <meta charset="UTF-8">
    <title>Information Page</title>
</head>

<body>
    <div class="container-md">
        <!-- Filtered Table -->

        <div class="shadow p-3 mb-4 bg-body rounded">
            <div class="row alert alert-info">
                <div class="col-md">
                    <h3>You can play with the table below - Do some query or add data</h3>
                </div>
            </div>

            <div class="row">
                <div class="col-md">
                    <form th:action="@{/infoQueryExecute}" th:object="${infoQuery}" method="post">
                        <div class="input-group mb-3">
                            <span class="input-group-text">Query String</span>
                            <input type="text" th:field="*{query}"  class="form-control" placeholder="the query string" aria-label="Recipient's username" aria-describedby="button-addon2">
                            <button class="btn btn-primary" type="submit" id="button-addon2">Search</button>

                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#addInfoTable">
                                Add row
                            </button>
                        </div>
                    </form>
                </div>
            </div>

            <div class="row">
                <div class="col-md">
                    <table class="table table-light table-hover">
                        <thead>
                            <tr>
                                <td th:each="col: ${tableView.columns}">
                                    <span th:text="${col}" />
                                </td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="row: ${tableView.query(infoQuery.query).rows}">
                                <td th:each="value: ${row}">
                                    <span th:text="${value}" />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <!-- Raw Table -->

        <div class="shadow p-3 mb-4 bg-body rounded">
            <div class="row alert alert-info">
                <div class="col-md">
                    <h3>All table Information from Controller - No filter is applied in the following table</h3>
                </div>
            </div>

            <div class="row alert alert-light">
                <div class="row">
                    <div class="col-md">
                        <h5>You can access this data using our WebService.</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <span>All raw data is available </span>
                        <span class="badge rounded-pill bg-light text-dark"><a href="/data/raw">here</a></span>
                        <span> under JSON format. The Endpoint is</span>
                        <span class="badge bg-success">/data/raw</span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md">
                        <span>The query is available </span>
                        <span class="badge rounded-pill bg-light text-dark">
                            <a th:href="'/data/query?' + ${infoQuery.query}">here</a>
                        </span>
                        <span> under JSON format. The Endpoint accepts query with this pattern </span>
                        <span class="badge bg-success">/data/query?param=list,of,value</span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md">
                    <table class="table table-light table-hover">
                        <thead>
                        <tr>
                            <td th:each="col: ${tableView.columns}">
                                <span th:text="${col}" />
                            </td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="row: ${tableView.rows}">
                            <td th:each="value: ${row}">
                                <span th:text="${value}" />
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <!-- Access Log -->

        <div class="shadow p-3 mb-4 bg-body rounded">
            <div class="row alert alert-info">
                <div class="col-md">
                    <h3>Access Log Information</h3>
                </div>
            </div>
            <div class="row" th:each="info: ${accessInfo}">
                <div class="col-md">
                    <span th:text="${info}" />
                </div>
            </div>
        </div>

        <!-- Add table information - Modal -->
        <div class="modal fade" id="addInfoTable"
             tabindex="-1" aria-labelledby="addInfoTableLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addInfoTableLabel">Modal title</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form th:action="@{/newData}" th:object="${newDataRow}" method="post">
                        <div class="modal-body">
                            <div class="input-group mb-3" th:each="field: ${tableView.columns}">
                                <span class="input-group-text" th:text="${field}" />
                                <input type="text" th:field="*{values[__${field}__]}"  class="form-control" placeholder="the query string" aria-label="Recipient's username" aria-describedby="button-addon2">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>