<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">

<head>
    <meta charset="UTF-8">
    <title>Information Page</title>
</head>

<body>
    <table>
        <tr>
            <td th:each="col: ${tableView.columns}">
                <span th:text="${col}" />
            </td>
        </tr>
        <tr th:each="row: ${tableView.rows}">
            <td th:each="value: ${row}">
                <span th:text="${value}" />
            </td>
        </tr>
    </table>

    <h3>Access Log Information</h3>
    <div th:each="info: ${tableView.accessInfo}">
        <span th:text="${info}" />
    </div>
</body>
</html>